/*======== Primary Block ========*/
.primary-block {
    background:#FFF;
    box-shadow: 0 0 10px rgba(#000,0.05);
    overflow: hidden;
    border-radius: 4px;
    /*==== Cover ====*/
    .cover-image {
        width: 100%;
        height: auto;
    }
    /*==== Head ====*/
    .info-head {
        @extend %flexbox;
        @extend .align-between;
        @extend .align-center-y;
        /*==== Style ====*/
        padding:10px 20px;
        font-size:14px;
        line-height: 22px;
        color:var(--gray-color);
        border-bottom: 1px solid rgba(#000,0.1);
        /*==== info ====*/
        .info span {
            margin-#{$directionReverse}:15px;
            &::before {
                font-size:15px;
                margin-#{$directionReverse}:5px;
                top: -1px;
                position: relative;
            }
        }
        /*==== Social Share ====*/
        .social {
            span{color:var(--dark-color);}
            a {
                color:var(--gray-color);
                font-size:14px;
                line-height: 22px;
                margin-#{$direction}:5px;
            }
        }
    }
    /*==== Title ====*/
    .block-title {
        padding:10px 20px;
        font-size:16px;
        line-height: 22px;
        color:var(--gray-color);
        border-bottom: 1px solid rgba(#000,0.1);
    }
}

/*======== Rich Content ========*/
.rich-content {
    max-width:1300px;
    margin: auto;
    padding:30px;
    padding-top: 20px;
    h1,h2,h3,h4,h5{margin-bottom: 10px;}
    /*==== Lists ====*/
    ul,ol {
        margin-right: 15px;
        margin-left: 15px;
        padding: 0 15px;
        li {margin-bottom: 15px;}
        /*==== Square Style ====*/
        &.squared {
            @extend %reset;
            margin-bottom: 10px;
            li {
                font-weight: var(--medium-weight);
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 5px;
                position: relative;
                padding-#{$direction}:20px;
                padding-#{$directionReverse}:15px;
                /*==== Square ====*/
                &::after {
                    content: '';
                    position: absolute;
                    top: 6px;
                    #{$direction} : 0;
                    line-height: inherit;
                    width:10px;
                    height: 10px;
                    background-color: var(--primary-color);
                }
            }
        }
        /*==== Size ====*/
        &.inline-items {@extend %flexbox;}

        &.half-space {
            @extend %flexbox;
            @include small (up) {
                li {width:50%;}
            };
        }
    }

    @include small(false) {
        p{font-size:15px;}
    };

    /*======== Hidden Content ========*/
    .wp-block-paragraph.hidden,h2.hidden,h3.hidden,h4.hidden {
        display: block;
        padding: 0;
        margin: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    /*======== Gutenberg ========*/
    .has-text-align-center { @extend .tx-align-center; }
}

/*==== Tags ====*/
.tags-wraper {
    padding: 15px 30px;
    padding-bottom: 10px;
    border-top:1px solid rgba(#000,0.1);
    h3 {
        font-size:1.25rem;
        margin-bottom: 5px;
    }
    
    .badge {
        margin:0;
        margin-#{$directionReverse}:5px;
        margin-bottom: 10px;
    }
}
