/*==== Contact US ====*/
.contact-form .btn {min-width: 190px;}

.map.responsive-element.hd-size {
    height: 270px;
    padding: 0;
}

/*==== Contact Information ====*/
.contact-info-list {
    @extend %reset;
    /*==== List ====*/
    li {
        /*==== Standard ====*/
        padding:10px;
        // border-bottom: 1px solid rgba(#0000, 0.1);

        /*==== Content ====*/
        h5,h4,a {
            font-weight: normal;
            color:var(--dark-color);
        }
        
        /*==== List Mode ====*/
        .info-item {
            position: relative;
            padding-#{$direction}:35px;
            &::before {
                width:25px;
                color:var(--primary-color);
                font-size: 1.1em;
                position: absolute;
                #{$direction}:0;
                top: 0;
                line-height: inherit;
            }
        }

        /*==== Info Block Mode ====*/
        &.info-block {
            /*==== Boxed ====*/
            .content-box {
                background-color: #fff;
                border-radius: 4px;
                padding: 25px;
                text-align: center;
            }
            /*==== Icon ====*/
            .icon {
                display: block;
                margin-bottom: 15px;
                font-size: 2rem;
                line-height: 42px;
                color: var(--primary-color);
            }
            /*==== Content ====*/
            h4 {font-size: 15px;}
        }
    }
}

/*==== Modern Contact ====*/
.modern-contact {
    /*==== Content Box ====*/
    .content-box {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(#0000, 0.1);
        overflow: hidden;
    }
    /*==== Map ====*/
    .map-wraper .responsive-element {
        @include medium(up) {
            padding-bottom: 0;
            min-height: 480px;
            height: 100%;
        };
    }
    /*==== Form ====*/
    .contact-form {
        padding:30px 50px;
        @include medium(false) {padding:25px;}
        .btn {min-width: 150px;}
    }
}

/*==== Contact Page ====*/
.contact-page {
    /*==== Contact Form ====*/
    .contact-form {
        padding: 30px;
        background-color: #fff;
        border-radius: 4px;
    }
    /*==== Map Frame ====*/
    .map {
        @include medium(up) {
            padding-bottom: 0;
            min-height: 100%;
            border: 10px solid var(--primary-color);
            border-radius: 4px
        };
    }
}
