/*==== Hero Section ====*/
.hero-section {
    position: relative;
    /*==== Fix Header ====*/
    &.with-dark-header .tornado-header:not(.is-sticky) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        /*==== Menu ====*/
        .navigation-menu {
            > ul > li:hover {color: var(--primary-color);}
            &.no-hover > ul > li:hover {color: #FFF;}
        }
        /*==== Action Buttons ====*/
        .btn {
            &.default {background-color: transparent;}
            &.outline,&.default {
                color:#FFF;
                border-color: #FFF;
            }
        }
    }
    
    /*==== Content ====*/
    .content {
        color: var(--gray-color);

        h1 {font-size:2.25rem;}
        h2 {font-size:1.75rem;}
        h3 {font-size:1.25rem;}
        h4,h5 {font-size:1rem;}
    
        p {
            font-size:14px;
            margin-bottom: 10px;
            &:last-child{margin-bottom: 0;}
        }

        ul {
            @extend %reset;
            margin-bottom: 10px;
            /*==== Items ====*/
            li {
                font-weight: var(--medium-weight);
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 5px;
                position: relative;
                padding-#{$direction}:20px;
                padding-#{$directionReverse}:15px;
                /*==== Square ====*/
                &::after {
                    content: '';
                    position: absolute;
                    top: 6px;
                    #{$direction} : 0;
                    line-height: inherit;
                    width:10px;
                    height: 10px;
                    background-color: var(--primary-color);
                    transform: rotate(45deg);
                    border-radius: 4px
                }
            }
            /*==== Inline Items ====*/
            &.inline-items {@extend %flexbox;}
            &.half-space {
                @extend %flexbox;
                @include small (up) {
                    li {width:50%;}
                };
            }
        }

        .more {
            @extend %inline-block;
            font-size:14px;
            font-weight: var(--strong-weight);
            &::before {
                float:$directionReverse;
                margin-#{$direction}:5px;
                line-height: inherit;
            }
            /*==== With Line ====*/
            &.with-line {
                @extend %flexbox;
                @extend .align-center-y;
                flex-direction: row-reverse;
                font-size:15px;
                line-height: 24px;
                &::before {float: none;}
                &::after {
                    border-#{$directionReverse}:30px solid var(--primary-color);
                    margin-#{$directionReverse}:10px;
                    content: '';
                    @extend .col-auto;
                    height: 1px;
                    background-color: rgba(#000, 0.1);
                }
            }
        }

        .inner-spaced {padding: $gutter-size;}

        /*==== Larger Text ====*/
        &.large {
            h2 {font-size: 1.8rem;}
            h3 {font-size: 1.5rem;}
            h4 {font-size: 1.25rem;}
            p  {font-size: 1rem;}
            .more {font-size: 1rem;}
        }
    }

    /*==== White Colors ====*/
    .white-color .content {
        color: #FFF;
        hr {background-color: rgba(#FFF, 0.3);}
        h1:not([class*="-color"]),h2:not([class*="-color"]),h3:not([class*="-color"]),h4:not([class*="-color"]),h5:not([class*="-color"]) {color: inherit;}
        ul li::after {background-color: #fff;}
        .more {
            color: inherit;
            /*==== With Line ====*/
            &.with-line::after {
                border-#{$directionReverse}:30px solid #FFF;
                background-color: rgba(#FFF, 0.3);
            }
        }
    }
}

/*==== Hero Slider ====*/
.hero-slider {
    &:not(.nobg) {background-color: #000;}
    .overlink {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
}
