/**======> Referance By Comment <======
 * ===> 01 - Header
 * ===> 02 - Hero Slider
 * ===> 03 - About US
 * ===> 04 - Floating Whatsapp
 * ===> 05 - Section Title
 * ===> 06 - Reverse Section Title
 * ===> 07 - Testimonails
 * ===> 08 - Blog Block
 * ===> 09 - Footer
 * ===> 10 - Page Head
 * ===> 11 - Services
 * ===> 12 - 
*/

/*======== Custom Header ========*/
.tornado-header.custom {
    box-shadow: 0 0 30px rgba(#000,0.1);
    /*======== Action Buttons ========*/
    .action-btns {
        word-spacing: -5px;
        .icon-btn {
            font-size: 15px;
            width: 30px;
            line-height: 27px;
            height: 30px;
            color: var(--primary-color);
            &:not(:last-child) { border-#{$directionReverse}: 1px dashed rgba(#000, 0.3); }
            &:hover { color: var(--secondary-color); }
        }
    }
    /*======== Main Menu ========*/
    .navigation-menu > ul > li {
        font-size: 18px;
        padding: 0 15px;
        > a {line-height: 60px;}
    }
}

/*======== Hero Slider ========*/
.hero-slider .item {
    .responsive-element {padding-bottom: 40%;}
}

/*======== About US ========*/
.hero-section.about-us {
    /*==== Title ====*/
    h3 {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 20px;
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 110px;
            margin-top: 15px;
            border-radius: 15px 0 0 15px;
            background: linear-gradient(45deg, var(--primary-color), var(--primary-hover));
        }
    }
    /*==== Paragraph ====*/
    p,ul {margin-bottom: 25px;}
}

/*======== Floating Whatsapp ========*/
.floating-wa {
    position: fixed;
    bottom: 15px;
    #{$direction}: 15px;
    z-index: 99;
    box-shadow: 0 0 15px $whatsapp-color;
    opacity: 0;
    @extend %fast-motion;
    /*==== Icon ====*/
    &::before {
        top: -2px;
        position: relative;
        font-size: 1.5rem;
    }
}

.is-sticky + .floating-wa {opacity: 1;}

/*==== Section Title ====*/
.section-title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    /*==== Line ====*/
    &::after {
        content: '';
        display: block;
        height: 3px;
        width: 110px;
        margin-top: 10px;
        border-radius: 15px 0 0 15px;
        background: linear-gradient(45deg, var(--primary-color), var(--primary-hover));
        margin-right: auto;
        margin-left: auto;
    }
}

/*==== Reverse Section Title ====*/
.testimonials-section,.darker-bg {
    /*==== Title ====*/
    .section-title {
        color: #FFF;
        &::after {background: #fff;}
    }
}

/*==== Testimonails ====*/
.testimonials-block {
    .content-box {
        padding: 15px;
        border-radius: 4px;
        background-color: #fff;
        position: relative;
        @extend %flexbox;
        @extend .align-center-y;
        /*==== Image ====*/
        .image {
            width: 30px;
            border-radius: 50%;
            overflow: hidden;
            img {width: 30px;height: 30px;object-fit: cover;}
        }
        /*==== Content ====*/
        h3 {
            width: calc(100% - 50px);
            padding-#{$direction}:15px;
            margin: 0;
            font-size: 14px;
            @extend %nowrap;
        }
        /*==== Play Icon ====*/
        &::before {
            position: absolute;
            #{$directionReverse}: 15px;
            top: 15px;
            width:25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--secondary-color);
            color: #FFF;
            line-height: 24px;
            font-size: 10px;
            text-align: center;
        }
        /*==== Paragraph ====*/
        p {
            margin-bottom: 0;
            margin-top: 10px;
            width: 100%;
            font-size: 12px;
            color: var(--gray-color);
            padding-top: 10px;
            border-top: 1px solid rgba(#000,0.1);
        }
    }
}

/*==== Blog Block ====*/
.blog-block {
    margin-bottom: 30px;
    .content-box {
        border-radius: 4px;
        box-shadow: unset;
        h3 {font-size: 15px;}
        p {font-size: 13px;}
        .btn {
            margin: -15px;
            display: block;
            margin-top: 15px;
            border-radius: 0 0 4px 4px;
        }
    }
}

.prim-grade {
    background-image: linear-gradient(to right top, #6771d2, #5a54ac, #4b3888, #3b1d65, #290144);
    color: #FFF;
}

.form-ui label {display: block;margin-bottom: 5px;}
.screen-reader-response {display: none;}

/*==== Footer ====*/
.main-footer {
    .group-title::after {
        content: '';
        display: block;
        height: 3px;
        width: 50px;
        background-color: var(--primary-color);
        margin-top: 10px;
    }

    ul li a:hover{color: var(--primary-color);}

    .info-item {
        font-weight: normal;
        &::before {
            position: relative;
            margin-#{$directionReverse}:8px;
            font-size: 13px;
            text-align: center;
        }
        &.ti-mail::before {top: 1px;}
    }

    .social-btns .btn {
        margin-#{$directionReverse}:5px;
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
    }
}

/*==== Page Head ====*/
.page-head {
    h1 {
        line-height: 1;
        margin-bottom: 10px;
    }
    .breadcrumb {
        background-color: transparent;
        border: 0 none;
        margin: 0;
        line-height: 22px;
    }
}

/*==== Services ====*/
@include small(false) {
    .service-block .content-box .btn {
        width: 100%;
        &:not(:last-child) {margin-bottom: 10px;}
    }
};
