/* Note : Giving the Connect element a border radius causes issues with using transform: scale */
$handle_width : 30px;
$handle_height : 15px;

/*======== Horizontal noUiSlider Size ========*/
.noUi-horizontal {
    height: 10px;
    /*======== Handle placement; ========*/
    .noUi-handle {
        width: $handle_width;
        height: $handle_height;
        #{$directionReverse}: -15px;
        top: -3px;
    }
}

/*======== Vertical noUiSlider Size ========*/
.noUi-vertical {
    width: 10px;
    .noUi-handle {
        width: $handle_height;
        height: $handle_width;
        right: -3px;
        top: -15px;
    }
}

/*======== Theme Style ========*/
.noUi-target {
    background: #e6e6e6;
    border-radius: 5px;
    /*==== for Tooltip ====*/
    margin-top: 25px;
    /*======== Connect Bar ========*/
    .noUi-connect {background: $primary-color;}
    /*======== Handles and Cursors ========*/
    .noUi-handle {
        background: $primary-color-hover;
        border-radius: $handle_height;
        cursor: -webkit-grab;
        cursor: grab;
        //======> Active Drag Status <======//
        &.noUi-active { background: $primary-color; }
    }
    /*======== Tooltip ========*/
    .noUi-tooltip {
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #fff;
        color: #000;
        padding:0 5px;
        font-size:12px;
        line-height: 23px;
        height: 22px;
    }
}

/*======== Input Control ========*/
.price-range-controls {
    @extend %flexbox;
    @extend .align-between;
    padding-top: 15px;

    label {
        width:20%;
        line-height: 25px;
        margin-bottom: 0;
        &:not(:first-child) {padding-#{$direction}:10px;}
    }
    
    input:not(.btn) {
        width:30%;
        height: 25px;
        padding:0 5px;
        font-size:14px;
        line-height: 1;
        margin-bottom: 0;
    }
}
