/*! nouislider - 14.5.0 - 5/11/2020  Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
*/

/*======== Target Wraper ========*/
.noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    width: 100%;
}

.noUi-base,.noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/*======== Connects Wrapper ========*/
.noUi-connects {
    overflow: hidden;
    z-index: 0;
}

.noUi-connect,.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    transform-origin: 0 0;
    transform-style: flat;
}

.noUi-connect {
    height: 100%;
    width: 100%;
}

.noUi-origin {
    height: 10%;
    width: 10%;
}

/*======== Offset direction ========*/
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 0;
    right: auto;
}

/*======== Origins Clicking Fix ========*/
.noUi-vertical .noUi-origin {width: 0;}
.noUi-horizontal .noUi-origin {height: 0;}

.noUi-handle {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.noUi-touch-area {
    height: 100%;
    width: 100%;
}

.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin {transition: transform 0.3s;}

.noUi-state-drag * {cursor: inherit !important;}

/*======== Handles and cursors; ========*/
.noUi-draggable {cursor: ew-resize;}
.noUi-vertical .noUi-draggable {cursor: ns-resize;}

/*======== Disabled State; ========*/
[disabled] .noUi-connect {background: #B8B8B8;}
[disabled].noUi-target,[disabled].noUi-handle,[disabled] .noUi-handle {cursor: not-allowed;}

/*======== Base ========*/
.noUi-pips,.noUi-pips * {box-sizing: border-box;}

.noUi-pips {
    position: absolute;
    color: #999;
}

/*======== Values; ========*/
.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

/*======== Markings; ========*/
.noUi-marker {
    position: absolute;
    background: #CCC;
}

.noUi-marker-sub {background: #AAA;}
.noUi-marker-large {background: #AAA;}

/*======== Horizontal layout; ========*/
.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {transform: translate(-50%, 50%);}
.noUi-rtl .noUi-value-horizontal {transform: translate(50%, 50%);}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {height: 10px;}
.noUi-marker-horizontal.noUi-marker-large {height: 15px;}

/*======== Vertical layout; ========*/
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    transform: translate(0, -50%);
    padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {width: 10px;}
.noUi-marker-vertical.noUi-marker-large {width: 15px;}

/*======== Tooltip ========*/
.noUi-tooltip {
    display: block;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    // transform: translate(-50%, 0);
    #{$direction} : 0;
    bottom: 120%;
}

.noUi-horizontal .noUi-origin:last-child .noUi-tooltip{#{$directionReverse}: 0;#{$direction}: auto;}

.noUi-vertical .noUi-tooltip {
    // transform: translate(0, -50%);
    top: 0;
    right: 120%;
}

.noUi-horizontal .noUi-origin>.noUi-tooltip {
    // transform: translate(50%, 0);
    left: auto;
    bottom: 10px;
}

.noUi-vertical .noUi-origin>.noUi-tooltip {
    // transform: translate(0, -18px);
    top: auto;
    right: 0;
}
