/*==== Animations ====*/
body:not(.wp-admin) {
    /*==== Hero Slider ====*/
    .hero-slider .item {
        h1,h2,h3,h4,p,.more,.media-element {visibility: hidden;}
        &.tns-slide-active {
            h1,h2,h3,h4,p,.more,.media-element {visibility: visible;}
            /*==== Content ====*/
            h1,h2,h3,h4,p,.more { animation: fadeInUp 0.7s both; }
            h1,h2 { animation-delay: 0.2s; }
            h3 { animation-delay: 0.3s; }
            h4 { animation-delay: 0.4s; }
            p  { animation-delay: 0.5s; }
            .more { animation-delay: 0.6s; }
            /*==== Image ====*/
            .media-element { animation: fadeInStart 0.7s both; }
            .row-reverse { animation: fadeInEnd 0.7s both; }
        }
    }
}

/*==== ViewPort Animations Fix ====*/
.wp-admin .view-status {visibility: visible;}
