/**======> Referance By Comment <======
 * ===> 01 - Global CSS
 * ===> 02 - Page Content Wraper
 * ===> 03 - Area Title
 * ===> 04 - Information Items
 * ===> 05 - Colored Social
 * ===> 06 - Social Buttons
 * ===> 07 - Floating Objects
 * ===> 08 - Overlay
*/

/*==== Global CSS ====*/
.ltr { direction: ltr; }
span.ltr,i.ltr,strong.ltr,a.ltr { @extend %inline-block; }
.inline-block { @extend %inline-block; }
.round-corner {border-radius: 10px;}
.last-row {margin-bottom: -30px;}
.overflow {overflow: hidden;}
.margin-start-auto {margin-#{$direction}:auto;}
.margin-end-auto {margin-#{$directionReverse}:auto;}
.tx-nowrap {@extend %nowrap;}
.color-inherit {color: inherit;}
.round-corner {border-radius: 5px;}
/*==== Font ====*/
.strong-weight {font-weight: var(--strong-weight);}
.medium-weight {font-weight: var(--medium-weight);}
.normal-weight {font-weight: var(--normal-weight);}
.lineheight-1 {line-height: 1;}
.display-h1 {font-size: 4rem;}
/*==== Backgrounds ====*/
.offwhite-gray-bg {background-color: #F8F8F8;}
.primary-ofwhite {background-color: #e9eaf8;}
.darker-bg{background-color: #0f0f0f;color: #FFF;}
.darker-high-bg{background-color: #050505;color: #FFF;}
.transparent {background-color: transparent;}
/*==== Full Screen Media ====*/
.full-screen {min-height: 360px;}
.full-screen-w-header {min-height: 360px;}
.full-screen-w-header-nav {min-height: 360px;}
@include medium(up) {
    .full-screen {min-height: 100vh;}
    .full-screen-w-header {min-height: calc(100vh - 65px);}
    .full-screen-w-header-nav {min-height: calc(100vh - 105px);}
};
/*==== Sticky Areas ====*/
.sticky-container {@extend .align-start-y;}
.sticky-area-top {
    position: sticky;
    top:75px;
}
/*==== Page Content Wraper ====*/
.page-content {
    padding-top: 40px;
    padding-bottom: 20px;
}
/*==== Area Title ====*/
.area-title {
    font-size:14px;
    line-height: 50px;
    border-bottom: 1px solid rgba(#0000, 0.1);
    font-weight: var(--strong-weight);

    /*==== Title ====*/
    h2,h3 {
        font-size:1.25rem;
        margin: 0;
    }
    
    /*==== Menu ====*/
    ul {
        @extend %reset;
        @extend %flexbox;
        line-height: 24px;
        li {
            margin-bottom: 0;
            padding:0 10px;
            color:var(--gray-color);
            @extend %fast-motion;
            a {
                color:inherit;
                @extend %fast-motion;
            }
            &:hover,&.active {color:var(--primary-color);}
            &:last-child {padding-#{$directionReverse}:0;}
        }
        /*==== Responsive ====*/
        @include small(false) {
            &:not(:first-child) {display: none;}
        };
    }

    /*==== Responsive ====*/
    @include xSmall(false) {
        .more-link {display: none;}
    };
}
/*==== Information Items ====*/
.info-item {
    @extend %inline-block;
    font-weight: var(--strong-weight);
    unicode-bidi: embed;
    /*==== Icon ====*/
    &::before {
        position: relative;
        top:-2px;
        margin-#{$directionReverse}:5px;
    }
    /*==== LTR Mode ====*/
    &.ltr::before {
        margin-left:0;
        margin-right:5px;
    }
}
/*==== Colored Social ====*/
.colored-social {
    /*==== Background ====*/
    &.ti-facebook:not(.outline):not(.default) {@extend .facebook-bg;}
    &.ti-twitter:not(.outline):not(.default) {@extend .twitter-bg;}
    &.ti-instagram:not(.outline):not(.default) {@extend .instagram-bg;}
    &.ti-whatsapp:not(.outline):not(.default) {@extend .whatsapp-bg;}
    &.ti-linkedin:not(.outline):not(.default) {@extend .linkedin-bg;}
    &.ti-youttube-play:not(.outline):not(.default) {@extend .google-plus-bg;}
    /*==== Colors ====*/
    &.ti-facebook.default {@extend .facebook-color;}
    &.ti-twitter.default {@extend .twitter-color;}
    &.ti-instagram.default {@extend .instagram-color;}
    &.ti-whatsapp.default {@extend .whatsapp-color;}
    &.ti-linkedin.outline {@extend .linkedin-color;}
    &.ti-youttube-play.default {@extend .google-plus-color;}
    /*==== Outline ====*/
    &.ti-facebook.outline {@extend .facebook-border;}
    &.ti-twitter.outline {@extend .twitter-border;}
    &.ti-instagram.outline {@extend .instagram-border;}
    &.ti-whatsapp.outline {@extend .whatsapp-border;}
    &.ti-linkedin.outline {@extend .linkedin-border;}
    &.ti-youttube-play.outline {@extend .google-plus-border;}
}
/*==== Social Buttons ====*/
.social-btns {
    /*==== Line-Height Fix ====*/
    .btn::before {
        position: relative;
        top:-2px;
    }
}
/*==== Floating Objects ====*/
.floating-direction-top {
    position: absolute;
    top: $gutter-math;
    #{$direction}: $gutter-math;
}

.floating-direction-center {
    position: absolute;
    top: 50%;
    @extend %position-center-y;
    #{$direction}: $gutter-math;
}

.floating-direction-bottom {
    position: absolute;
    bottom: $gutter-math;
    #{$direction}: $gutter-math;
}

.floating-direction-reverse-top {
    position: absolute;
    top: $gutter-math;
    #{$directionReverse}: $gutter-math;
}

.floating-direction-reverse-center {
    position: absolute;
    top: 50%;
    @extend %position-center-y;
    #{$directionReverse}: $gutter-math;
}

.floating-direction-reverse-bottom {
    position: absolute;
    bottom: $gutter-math;
    #{$directionReverse}: $gutter-math;
}
