/*==== Carousel ====*/
.carousel-slider-outer {
    /*==== Pagination ====*/
    .tns-nav {
        top:auto;
        bottom: -30px;
    }
    /*==== Buttons ====*/
    .tns-controls {
        button[data-controls="prev"] { #{$directionReverse}:$gutter-size; }
        button[data-controls="next"] { #{$direction}:$gutter-size; }
    }
}

.carousel-slider{padding-top: 1px;}

.slider-outer-arrows {
    /*==== Buttons ====*/
    .tns-controls {
        button[data-controls="prev"] { #{$directionReverse}:-$gutter-math; }
        button[data-controls="next"] { #{$direction}:-$gutter-math; }
    }
}

.medium-size {
    /*==== Space Fix ====*/
    &.grid-mode {
        margin-right: -5px;
        margin-left: -5px;
    }
    /*==== Buttons ====*/
    .tns-controls {
        button[data-controls="prev"] { #{$directionReverse}:-10px; }
        button[data-controls="next"] { #{$direction}:-10px; }
    }
}
