/*==== Blog Block ====*/
.blog-block {
    /*==== Image ====*/
    .image {
        margin: -15px;
        margin-bottom: 15px;
        padding-bottom: 80%;
        border-radius: 5px 5px 0 0;
    }
    /*==== Content ====*/
    .content-box {
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        min-height: 100%;
        padding:15px;
        /*==== Title ====*/
        h3 {
            font-size:15px;
            color: var(--primary-color);
            margin-bottom: 5px;
        }
        /*==== Pararaph ====*/
        p {
            font-size:14px;
            color: var(--gray-color);
            margin-bottom: 10px;
            height: 68px;
            overflow: hidden;
        }
        /*==== More Button ====*/
        .more-btn {display: block;}
    }
    /*==== Assets ====*/
    &:not(.no-shadow) .content-box {box-shadow: 0 0 15px rgba(#0000, 0.1);}
    &.bordered .content-box {border: var(--component-border);}
}

