/*==== Categories Blocks ====*/
.category-block {
    /*==== Space Set ====*/
    &:not(.tns-item) {margin-bottom: 20px; }

    /*==== Content ====*/
    .content-box {
        padding: 15px;
        background-color: var(--component-background);
        border-radius: var(--component-radius);
        @extend %fast-motion;
        /*==== Image ====*/
        .image {
            padding-bottom: 110%;
            background-size: contain;
            margin-bottom: 10px;
            border-radius: var(--component-radius);
        }
        /*==== Title ====*/
        h3 {
            font-size:14px;
            line-height: 1;
            color: var(--component-color);
            @extend %nowrap;
            @extend %fast-motion;
        }
        /*==== Effect ====*/
        &:hover {
            box-shadow: 0 0 15px rgba(#0000, 0.07);
            transform: scale(1.01);
            h3 {color:var(--component-active-bg);}
        }
    }
}
