/*==== Features Block ====*/
.features-block {
    margin-bottom: 30px;
    /*==== Icon ====*/
    .icon {
        font-size:28px;
        line-height: 40px;
        display: block;
        img {
            max-height: 40px;
            width: 40px;
        }
    }
    /*==== Content ====*/
    h3 {
        font-size:15px;
        line-height: 1.2;
        @extend %nowrap;
        margin-bottom: 5px;
    }

    p {
        font-size:13px;
        &:not([class*="-color"]) {color: var(--gray-color);}
        margin-bottom: 5px;
    }
    /*==== info ====*/
    .info {padding-#{$direction}:10px;}

    /*==== Horizontal Mode ====*/
    .flexbox {
        .info {max-width:calc(100% - 40px);}
    }
}
