/*==== Icon Block ====*/
.icon-block {
    /*==== icon ====*/
    .icon {
        font-size:25px;
        width:65px;
        height: 65px;
        line-height: 65px;
        display: block;
        margin: auto;
        border-radius: 50%;
        border-width:2px; 
        border-style: solid;
        &:not([class*="-border"]) {border-color: rgba(#0000, 0.1);}
        &:not([class*="-color"]) {color: var(--primary-color);}
        margin-bottom: 15px;
        img {max-height: 50px;}
    }
    /*==== Content ====*/
    h5 {font-size:14px;}
    .content-box {padding:25px;}
}
