/*==== Logo Block ====*/
.logo-block {
    margin-bottom: 2px;
    &:not(.tns-item) {margin-bottom: 20px;}
    .content-box {
        display: block;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.10);
        padding: 10px;
        line-height: 90px;
        img{max-height: 70px;}
    }
}
