/*==== Price Table ====*/
.price-table {
    &:not(.tns-item) {margin-bottom: 30px;}
    .content-box {
        padding: 30px;
        border: 1px solid rgba(#0000, 0.1);
        overflow: hidden;
        border-radius: 5px;

        /*==== Full Width Element ====*/
        .full-area {
            &:first-child {margin-top: -30px;margin-bottom: 30px;}
            margin-right: -30px;
            margin-left: -30px;
            &:last-child {margin-bottom: -30px;}
        }
        /*==== Title ====*/
        h3 {
            font-weight: normal;
            font-size: 1rem;
            margin-bottom: 5px;
        }
        /*==== Price ====*/
        .price {
            font-weight: var(--strong-weight);
            font-size: 2rem;
            line-height: 1;
            margin-bottom: 0;
            span {
                font-weight: normal;
                font-size: 1rem;
            }
        }
        /*==== Head ====*/
        .head {
            padding: 25px;
            background-color: var(--primary-color);
            color:#FFF;
            h2,h3,h4,h5 {color: inherit;}
        }
        /*==== List ====*/
        ul {
            font-size: 14px;
            font-weight: var(--strong-weight);
            @extend %reset;
            margin-bottom: 20px;
            li {
                position: relative;
                padding-#{$direction}:20px;
                &::before {
                    @extend %inline-block;
                    @extend %ti-checkmark,:before;
                    font-size: 13px;
                    line-height: inherit;
                    position: absolute;
                    top:2px;
                    #{$direction}:0;
                    color: var(--success-color);
                    font-family: var(--icons-font);
                }
            }
        }
    }
    /*==== Even Table ====*/
    &:nth-child(even) .content-box {
        .head {background-color: var(--secondary-color);}
    }
}
