/*==== Product Block ====*/
.product-block {
    /*==== Space Set ====*/
    margin-bottom: 30px;

    /*==== Content ====*/
    .content-box {
        padding: 20px;
        @include small(false) { padding: 15px; }
        background-color: var(--component-background);
        border-radius: var(--component-radius);
        position: relative;
        min-height: 100%;
        @extend %fast-motion;
        /*==== Image ====*/
        .image {
            padding-bottom: 100%;
            border-radius: var(--component-radius);
            margin-bottom: 15px;
        }

        /*==== Stars ====*/
        .stars {
            font-size:1rem;
            color: var(--warning-color);
            line-height: 25px;
            margin-bottom: 5px;
            &.small { font-size:13px; }
        }

        /*==== Title ====*/
        h3 {
            font-size:14px;
            font-weight: normal;
            color: var(--primary-color);
            line-height: 20px;
            max-height: 40px;
            overflow: hidden;
            margin-bottom: 5px;
        }

        /*==== Price ====*/
        .price {
            font-size:1.1rem;
            @include small(false) { font-size: 1rem; }
            i {
                font-size:0.75em;
                opacity: 0.7;
                font-weight: normal;
                text-decoration: line-through;
            }
        }

        /*==== Sale Badge ====*/
        .sale-badge {
            position: absolute;
            top : 20px;
            #{$direction} :20px;
            height: 26px;
            line-height: 26px;
            font-size: 13px;
            padding:0 8px;
            @include small(false) {
                top : 10px;
                #{$direction} :10px;
                height: 22px;
                line-height: 23px;
                font-size: 12px;
                padding:0 5px;
            }
        }

        /*==== Effect ====*/
        &:hover {box-shadow: 2px 5px 10px rgba(#000, 0.07);}

        /*==== Horizontal Mode Fix ====*/
        @include medium(up) {
            .wraper .image {margin-bottom: 0;}
        };
    }
}

/*==== Small Size ====*/
.gutter-small .product-block,.product-block.small {
    /*==== Content ====*/
    .content-box {
        padding: 15px;
        /*==== Image ====*/
        .image {margin-bottom: 10px;}
        /*==== Price ====*/
        .price {font-size:1rem;}
        /*==== Sale Badge ====*/
        .sale-badge {
            top : 10px;
            #{$direction} :10px;
            height: 22px;
            line-height: 23px;
            font-size: 12px;
            padding:0 5px;
        }
        /*==== Horizontal Mode Fix ====*/
        @include medium(up) {
            .wraper .image {margin-bottom: 0;}
            .info {padding-#{$direction}:15px;}
        }
    }
}

/*==== Fix Margin ====*/
.gutter-small .product-block { margin-bottom: 10px; }
.gutter-medium .product-block { margin-bottom: 20px; }
