/*==== Service Block ====*/
.service-block {
    &.tns-item {margin-bottom: 0;}

    /*==== Content Wraper ====*/
    .content-box {
        padding:40px 20px;
        padding-bottom: 35px;
        text-align: center;
        border:1px solid rgba(#000, 0.04);
        background-color: var(--component-background);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(#000, 0.05);
        /*==== icon ====*/
        .icon {
            display: block;
            margin:auto;
            margin-bottom: 15px;
            width:90px;
            height: 90px;
            line-height: 90px;
            font-size:40px;
            color:var(--gray-color);
            border-radius: 10px;
            border:1px solid var(--primary-color);
            &.circle {border-radius: 50%;}
            img {max-height: 55px;}
        }
        /*==== Content ====*/
        h3 {
            font-size:1.05rem;
            margin-bottom: 3px;
            color:var(--primary-color);
        }

        p {
            font-size:14px;
            color: var(--gray-color);
            &:last-child {margin-bottom: 0;}
        }

        .btn {
            // margin-top: 35px;
            // margin-bottom: -17px;
            min-width: 150px;
        }
        /*==== Effect ====*/
        @extend %fast-motion;
        .icon,h3,p {@extend %fast-motion;}
    }

    /*==== Hover ====*/
    &:not(.custom) .content-box:hover {
        box-shadow: 0 0 10px var(--primary-color);
        background-color: var(--primary-color);
        .icon {
            border-radius: 50%;
            background-color: #fff;
        }
        h3,p {color:#FFF;}
        .btn {background-color: var(--dark-color);}
    }

    /*==== Board Block ====*/
    &.board-mode {
        position: relative;

        .content-box {
            border-radius: 0;
            border:1px solid rgba(#000, 0.05);
            box-shadow: unset;
            /*==== Icon ====*/
            .icon {border : 1px solid rgba(#000, 0.1);}
            /*==== Content ====*/
            h3 {@extend %nowrap;}
            p {
                height: 68px;
                overflow: hidden;
            }
        }

        /*==== Striped BG ====*/
        &:not(.no-odd):nth-child(even) .content-box:not(:hover) { background-color: var(--primary-lighter); }

        /*==== Hover ====*/
        &:hover {
            z-index: 10;
            .content-box {
                transform: scale(1.01);
                box-shadow: 0 0 15px rgba(#000, 0.05);
            }
        }

        /*==== Animation ====*/
        &.view-active {
            animation-duration: 0.7s;
            animation-timing-function: linear;
            animation-name: fadeInUp;
            &:nth-child(1),&:nth-child(4),&:nth-child(7) {animation-name: fadeInEnd;}
            &:nth-child(2) {animation-name: fadeInUp;}
            &:nth-child(5) {animation-name: fadeIn;}
            &:nth-child(8) {animation-name: fadeInDown;}
            &:nth-child(3),&:nth-child(6),&:nth-child(9) {animation-name: fadeInStart;}
        }
    }
}

/*==== Service Block v2 ====*/
.service-block-v2 {
    &:not(.tns-item) {margin-bottom: 30px;}

    /*==== Image ====*/
    .image .img {
        padding-bottom: 70.15%;
        position: relative;
        z-index: 2;
        @include medium(up) {
            min-height: 100%;
            padding-bottom: 0;
            @if($page-dir == 'rtl') { border-radius: 0 8px 8px 0; }
            @else { border-radius: 8px 0 0 8px; }
        };
    }

    /*==== Content ====*/
    .info {
        padding: 30px;
        @include small(false) {padding:20px};
        background-color: #fff;
        box-shadow: 0 0 10px rgba(#0000, 0.1);
        @include medium(up) {
            @if($page-dir == 'ltr') { border-radius: 0 8px 8px 0; }
            @else { border-radius: 8px 0 0 8px; }
        };
    }

    /*==== Reverse ====*/
    &:nth-child(even) {
        flex-flow: row-reverse;
        .image .img {
            @if($page-dir == 'ltr') { border-radius: 0 8px 8px 0; }
            @else { border-radius: 8px 0 0 8px; }
        }
        .info {
            @if($page-dir == 'rtl') { border-radius: 0 8px 8px 0; }
            @else { border-radius: 8px 0 0 8px; }
        }
    }

    /*==== Title ====*/
    h3 {
        color:var(--primary-color);
        margin-bottom: 5px;
        font-size: 1.25rem;
    }

    p {
        font-size:14px;
        color: var(--gray-color);
    }

    .btn:not(.block-lvl) {
        &:not(:last-child) { margin-#{$directionReverse}:15px; }
        &:last-child {margin-#{$direction}:-5px}
        width:calc(50% - 10px);
    }

    /*==== Features List ====*/
    ul {
        @extend %reset;
        margin-bottom: 10px;
        /*==== Items ====*/
        li {
            font-weight: var(--medium-weight);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 5px;
            position: relative;
            padding-#{$direction}:20px;
            padding-#{$directionReverse}:15px;
            /*==== Square ====*/
            &::after {
                content: '';
                position: absolute;
                top: 6px;
                #{$direction} : 0;
                line-height: inherit;
                width:10px;
                height: 10px;
                background-color: var(--secondary-color);
            }
        }
        /*==== Inline Items ====*/
        &.inline-items {@extend %flexbox;}
        &.half-space {
            @extend %flexbox;
            @include small (up) {
                li {width:50%;}
            };
        }
    }
}
