/*==== Bottom Navigation ====*/
.navigation-wraper {
    position: relative;
    z-index: 99;
    /*==== Menu Button ====*/
    .menu-toggle {
        @extend .floating-menu-max;
        margin-#{$directionReverse}:10px;
        border-radius: 0;
        text-align: inherit;
        &::before {
            font-size:1.2em;
            margin-#{$directionReverse}:8px;
        }

        &::after {
            float: $directionReverse;
            line-height: inherit;
            font-family: var(--icons-font);
            @extend %ti-arrow-#{$directionReverse}-c,:before;
        }
    }

    /*==== Categories Menu ====*/
    .categories-menu {
        position: absolute;
        top:100%;
        #{$direction}:$gutter-math;
        padding: 0;
        border:0 none;
        box-shadow: 0 5px 1.25rem rgba(#000, 0.05);
        animation: fadeIn 0.7s both;
        visibility: visible;
        &.closed {visibility: hidden;}
        /*==== Menu ====*/
        > ul > li {
            display: block;
            font-size:14px;
            line-height: 38px;
            border-bottom: 1px solid rgba(#000, 0.1);
            padding: 0 20px;
            padding-#{$directionReverse}:15px;
            > a {font-size:inherit;display: inherit;}
            /*==== Submenus ====*/
            ul,.megamenu {
                top:0;
                #{$direction}:100%;
            }
            /*==== Megamenu ====*/
            .megamenu {
                width:850px;
                @media screen and (min-width:1200px) { width:900px; }
                @include medium(false) {width:520px};
                @include small(false) { width:100vw; };
            }
        }
    }

    /*==== Main Menu ====*/
    .navigation-menu:not(.categories-menu) {
        margin-bottom: 0;
        background-color: transparent;
        border:0 none;
        padding: 0;
        position: static;
        > ul > li {
            color:inherit;
            font-size:15px;
            line-height: var(--forms-height);
            height: var(--forms-height);
        }
    }
}

/*==== Bottom Nav Floating Menu Fix ====*/
.floating-menu-max {max-width: 260px;}
