/*==== Page Head ====*/
.page-head {
    padding: 15px 0;

    h1 {
        color: inherit;
        font-size:1.25rem;
        margin-bottom: 0;
    }

    .breadcrumb {
        color: inherit;
        border: 0 none;
        margin: 0;
        padding: 0;
        &.white-divider {
            > a:not(:last-child)::after, > span:not(:last-child)::after {background-color:#FFF;}
        }
    }

}

