/*==== Main Footer ====*/
.main-footer {
    padding-top: 40px;
    padding-bottom: 20px;

    &:not([class*="-bg"]) {
        background-color: #fff;
        border-top: 1px solid rgba(#0000, 0.1);
    }

    /*==== Fix Grid ====*/
    [class*="masonry-"] {
        margin: 0;
        .column {padding: 0;}
    }

    /*==== Logo ====*/
    .logo img {
        max-height: 60px;
        margin-bottom: 10px;
    }

    /*==== Paragraph ====*/
    p {
        font-size:14px;
        color: var(--gray-color);
    }

    /*==== Info Item ====*/
    .info-item {
        font-size:1rem;
        a {color: inherit;}
    }

    /*==== Titles ====*/
    .group-title {
        font-size:1rem;
        margin-bottom: 15px;
        line-height: 1;
        color:inherit;
    }

    /*==== Links ====*/
    ul {
        @extend %reset;
        li {
            font-size:14px;
            line-height: 30px;
            margin-bottom: 0;
            padding: 0 5px;
            padding-#{$direction}:12px;
            position: relative;
            @extend %fast-motion;
            /*==== Icon ====*/
            &::before {
                @extend %ti-angle-#{$directionReverse},:before;
                font-family: var(--icons-font);
                line-height: inherit;
                position: absolute;
                top:0;
                #{$direction}:0;
                font-size:10px;
            }
            /*==== Link ====*/
            a {
                color: inherit;
                display: block;
                @extend %fast-motion;
            }
            /*==== Effect ====*/
            &:hover {
                padding-#{$direction}:15px;
                a { color: var(--primary-color); }
            }
        }
    }

    /*==== Dark Mode ====*/
    &[class*="-bg"] {
        color: #FFF;
        .group-title {color:#FFF;}
        .info-item,p,a {color: inherit;}
        ul li:hover {
            padding-#{$direction}:15px;
            a { color: var(--secondary-color); }
        }
    }
}

.copyrights {
    &:not([class*="-bg"]) {
        background-color: #FFF;
        border-top: 1px solid rgba(#0000, 0.1);
    }

    font-size:14px;
    padding: 10px 0;
    border-top: 1px solid rgba(#FFF, 0.1);
    p {margin-bottom: 0;}

    .oryx-cp {
        display: block;
        img {width:80px;padding: 3px 0;}
    }
}
