/*==== Single Slider ====*/
.single-slider {
    margin-bottom: 30px;
    .item {
        /*==== Banner ====*/
        [data-src] {
            display: block;
            padding-bottom: 44.5%;
            border-radius: 5px;

            @include small(false) {padding-bottom: 60%;}
        }

        /*==== Info ====*/
        .info {
            position: absolute;
            top: 0;
            &:not(.left):not(.right) {#{$direction}:0;}
            padding:8% 10%;
            max-width:60%;
            &.left {left: 0;}
            &.right {right: 0;}
            @include small(false) {
                max-width: 100%;
                padding: 25px;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                p{display: none;}
            };
        }

        /*==== News Info ====*/
        .news-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        /*==== Content ====*/
        h3 {
            font-size:1.1rem;
            margin-bottom: 8px;
        }

        p {
            font-size:15px;
            line-height: 24px;
            margin-bottom: 10px;
        }

        .price-item {
            margin-bottom: 10px;
            font-size:14px;
            font-weight: normal;
            line-height: 1;
            span {
                font-weight: var(--strong-weight);
                font-size:2rem;
                color:var(--primary-color);
            }
        }

        /*==== Light Text ====*/
        .light-txt {
            h3,p,.price-item {color:#FFF;}
            .price-item span {color: inherit;}
        }
    }
}

/*==== Slider With Floating Menu Fix ====*/
.slider-for-menu {
    @include medium(up) { max-width:calc(100% - 260px); }
}
