/*==== Top Navigation ====*/
.top-navigation {
    font-size:12px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid rgba(#000, 0.1);
    color:var(--gray-color);
    a {
        color:var(--dark-color);
        @extend %inline-block;
        @extend %fast-motion;
        &:hover { color:var(--primary-color); }
    }

    ul {
        @extend %reset;
        @extend %flexbox;
        font-size:inherit;
        color: inherit;
        li {
            padding: 0 10px;
            font-weight: var(--strong-weight);
            margin-bottom: 0;
            &:last-child {padding-#{$directionReverse}:0}
            &::before,a::before {
                margin-#{$directionReverse}:5px;
                font-size:1.2em;
                top:-1px;
                position: relative;
            }
        }
    }
}
