/**======> Referance By Comment <======
 * ===> 01 - Widget Block
 * ===> 02 - Widget Head
 * ===> 03 - Widget List
 * ===> 04 - 
 * ===> 05 - 
*/

/*======== Widget Block ========*/
.widget-block {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    /*==== Widget Head ====*/
    .head {
        font-size: 1rem;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(#000, 0.1);
        padding-bottom: 10px;
        /*==== icon ====*/
        &::before {
            margin-#{$directionReverse}:8px;
            color: var(--primary-color);
        }
    }
    /*==== Widget List ====*/
    ul {
        @extend %reset;
        /*==== items ====*/
        li {
            font-size: 14px;
            color: var(--dark-color);
            a {color: inherit;}
            /*==== Icons ====*/
            &::before, > a::before {
                font-size: 15px;
                color: var(--gray-color);
                margin-#{$directionReverse}: 5px;
            }
        }
    }
}

/*==== Posts Widget ====*/
.widget-post {
    @extend %flexbox;
    @extend .align-center-y;
    padding:5px 10px;
    /*==== Image ====*/
    .image {
        width: 60px;
        height: 50px;
        border-radius: 4px;
    }
    /*==== Content ====*/
    .info {
        width: calc(100% - 60px);
        padding-#{$direction}: 10px;
        h3 {font-size: 13px;}
        h4 {font-size: 11px;color: var(--gray-color);}
    }
}
