/*==== Widget Sidebar ====*/
.components-panel {
    /*==== Widget Title ====*/
    .components-panel__body-title {
        background-color: #fcfcfc;
        button {background: transparent;}
    }

    .components-panel__body.is-opened > .components-panel__body-title {margin-bottom: 15px;}

    .is-opened .components-panel__body-title {border-bottom: 1px solid rgba(#000, 0.1);}
}

/*==== Editor Wraper ====*/
.block-editor-writing-flow {
    border: 1px dashed rgba(#000, 0.3);
    /*==== Block Layout ====*/
    .wp-block {
        min-height: 10px;
        border: 1px dashed rgba(#000, 0.3);
        max-width: 100%;
        margin: 10px;
    }
}

/*==== Editor Page Title ====*/
.edit-post-visual-editor__post-title-wrapper .editor-post-title__block {
    margin: 0;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    textarea {padding: 15px;font-size: 20px;}
    /*==== Layouts Wraper ====*/
    + div {padding: 0 15px;}
}

