/*========= Assets ============*/
$directionReverse:'right';
$direction:'left';
//==== Layout ====//
$gutter-size  : 30px; // the Space Between Columns
$gutter-math  : 15px; // the Space Between Columns Divided
$grid-columns : 12;
//==== Responsive Minuimum ====//
$small-base : 0; //  Mobile Screen Size to start from
$small-min  : 576px; //  Mobile Screen Size to start from
$medium-min : 768px; // Tablet Screen Size to start from
$large-min  : 1200px; // Desktop Screen Size to start from
$xlarge-min : 1366px; // Big Desktop Screen Size to start from
//==== Responsive Maximum ====//
$small-ceil : 480px; //  Mobile Screen Size to start from
$small-max  : 640px; //  Mobile Screen Size to start from
$medium-max : 1100px; // Tablet Screen Size to start from
$large-max  : 1600px; // Desktop Screen Size to start from
$xlarge-max : 2500px; // Big Desktop Screen Size to start from

@import 'assets/mixins';
@import 'assets/selectors';
@import 'grid/grid-system';
@import 'grid/grid-columns';
@import 'grid/grid-utilities';

/* Vertical Align Columns to the Center */
.align-center-y{
    align-items: center;
} 

/* Horizontaly Align and spliting the space between Columns */
.align-between{
    justify-content: space-between;
}

.tx-align-center {text-align: center;}
img{max-width: 100%;}

/*========= Wordpress Customizer ============*/
.theme-options {
    @extend %flexbox;
    background-color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(#000,0.05);
    /*==== Size Fixer ====*/
    *,*::before,*::after { box-sizing: border-box; }
    .hidden {display: none;}

    /*==== Divider ====*/
    .divider {
        height: 1px;
        margin: 0;
        background-color: rgba(#000,0.1);
    }
    
    /*==== Tabs Menu ====*/
    .tabs-menu {
        @extend %reset;
        background-color: #0F161C;
        color:#e0e0e0;
        width:230px;
        border-radius: 5px 0 0 5px;
        /*==== Item ====*/
        li {
            &:not(.logo) {height: 45px;}
            cursor: pointer;
            margin: 0;
            font-size:14px;
            line-height: 44px;
            border-bottom: 1px solid rgba(#FFF,0.1);
            text-transform: uppercase;
            padding:0 15px;
            position: relative;

            /*==== Icons ====*/
            &::before {
                display: inline-block;
                vertical-align: middle;
                width:25px;
                font-size:16px;
                line-height: inherit;
                position: relative;
                top:-2px;
            }

            /*==== Logo ====*/
            &.logo {
                padding:20px 15px;
                text-align: center;
                img {
                    width:auto;
                    height: auto;
                    max-width:40px;
                    max-width:90%;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            /*==== Active Mode ====*/
            &.active {
                color:#FFF;
                background-color: #4166d6;
                font-weight: 600;
                /*==== Arrow ====*/
                &::after {
                    content: '';
                    border:8px solid transparent;
                    position: absolute;
                    top:50%;
                    right:0;
                    border-right-color:#f7f7f7;
                    transform: translateY(-50%);
                }
            }
        }
    }

    /*==== Tabs Content ====*/
    .tabs-form {
        width:calc(100% - 230px);
        background-color: #f7f7f7;
        position: relative;
        /*==== Button ====*/
        .button {
            margin: 0;
            padding:0 25px;
            height: 42px;
            line-height: 42px;
            border:0 none;
            background:#4166d6;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        /*==== Floating Button ====*/
        .floating-submit .submit {
            @extend %reset;
            position: absolute;
            top:20px;
            right:25px;
        }

        /*==== Tab Content ====*/
        .tab-content {
            padding: 30px;
            border-top:0 none;
            border-bottom: 0 none;
            display: none;
            min-height: 350px;
            &.active{display: block;}
        }
    }

    /*==== Page Head ====*/
    .page-head,.page-footer {
        @extend %flexbox;
        @extend .align-center-y;
        @extend .align-between;
        border-bottom: 1px solid rgba(#000,0.1);
        padding:20px 25px;
        background:#FFF;
        border-radius: 0 5px 0 0;
        /*==== Space Fixer ====*/
        &:not(.page-footer) { margin: -30px;margin-bottom: 30px; }

        /*==== Title ====*/
        h1 {
            display: inline-block;
            font-size:28px;
            line-height: 42px;
            margin: 0;
            padding:0;
        }

        /*==== Description ====*/
        p {
            @extend %reset;
            font-size:14px;
        }
        
        /*==== as Footer ====*/
        &.page-footer {
            padding:15px;
            border-bottom: 0 none;
            border-top: 1px solid rgba(#000,0.1);
            border-radius: 0 0 5px 0;
            /*==== Button ====*/
            .button {
                height: 36px;
                line-height: 36px;
                padding: 0 15px;
            }
        }
    }

    /*==== RTL ====*/
    &.rtl {
        margin-right: 0;
        margin-left: 20px;
        /*==== Tabs Menu ====*/
        .tabs-menu {
            border-radius: 0 5px 5px 0;
            li.active::after {
                left:0;
                right: auto;
                border-right-color:transparent;
                border-left-color:#f7f7f7;
            }
        }

        /*==== Page Head ====*/
        .page-head {border-radius: 5px 0 0 0;}
        .page-footer {border-radius: 0 0 0 5px;}
        .tabs-form .floating-submit .submit {left: 25px;right: auto;}
    }

    /*======== Options Panel ========*/
    .options-panel {
        background:#FFF;
        border-radius: 5px;
        // box-shadow: 0 0 10px rgba(#000,0.05);
        border: 1px solid rgba(#000,0.1);
        border-bottom: 0 none;
        /*==== Space Fix ====*/
        &:not(:last-child) { margin-bottom: 30px; }

        &.disabled {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                display: block;
                top:40px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(#FFF, 0.7);
            }
        }

        /*==== Toggle Button ====*/
        .toggle-button {
            position: relative;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            
            /*==== Input ====*/
            input{
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                cursor: pointer;
            }

            /*==== Toggle Bar ====*/
            span {
                position: relative;
                transition: all 0.3s;
                width:50px;
                height: 10px;
                border-radius: 10px;
                background-color: #ccc;
                display: block;
                margin-left: auto;

                /*==== Toggle Switch ====*/
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    width:20px;
                    height: 20px;
                    background-color: #929292;
                    top:50%;
                    transform: translateY(-50%);
                    transition: all 0.3s;
                    border-radius: 50%;
                }
            }

            /*==== Toggle Activated ====*/
            input:checked + span {
                background-color: #4166d6;
                &::before {
                    background-color: #163db4;
                    left: 100%;
                    margin-left: -15px;
                }
            }
        }

        /*==== Panel Title ====*/
        .panel-title {
            @extend %reset;
            @extend %flexbox;
            @extend .align-between;
            @extend .align-center-y;
            font-size:16px;
            font-weight: bold;
            line-height: 30px;
            padding: 5px 15px;
            border-bottom: 1px solid rgba(#000,0.1);
            &.mdtxt {font-size:14px;background-color: #f4f6f9;}
        }

        /*==== Control Item ====*/
        .control-item {
            padding:15px 20px;
            padding-bottom: 0;
            border-bottom: 1px solid rgba(#000,0.1);

            /*==== Content Wraper ====*/
            .content-box { @extend %flexbox; }

            /*==== Controls Label ====*/
            label {
                width:175px;
                line-height: 32px;
                font-size:12px;
                margin: 0;
                margin-bottom: 15px;
                font-weight: bold;
                /*==== Help Popup ====*/
                .help-btn {
                    display: inline-block;
                    vertical-align: middle;
                    width:18px;
                    height: 18px;
                    border-radius: 50%;
                    font-size:10px;
                    background:#888;
                    color:#FFF;
                    text-align: center;
                    line-height: 17px;
                    position: relative;
                    margin-left: 5px;

                    /*==== Icon ====*/
                    &::before {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    /*==== Popup ====*/
                    &::after {
                        content: attr(data-txt);
                        transition: all 0.3s;
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        width:200px;
                        left: 0;
                        bottom: 100%;
                        padding:5px;
                        background:#FFF;
                        border-radius: 5px;
                        color:#2b2b2b;
                        font-size:11px;
                        line-height: 15px;
                        border:1px solid rgba(#000,0.1);
                        box-shadow: 0 0 10px rgba(#000,0.05);
                    }

                    /*==== Show Popup ====*/
                    &:hover::after {
                        visibility: visible;
                        margin-bottom: 5px;
                        opacity: 1;
                    }
                }
            }

            .toggle-button {
                margin-bottom: 25px;
                span {margin-top: 12px;}
            } 

            /*==== Input and Selects ====*/
            input,select,.form-control,textarea,.control-wraper,.color-picker,.advanced-select,.toggle-button {
                width:calc(100% - 175px);
                margin: 0;
                margin-bottom: 15px;
            }

            /*==== Media Uploader ====*/
            .media-uploader-control {
                width:auto;
                min-width:200px;
                max-width:360px;
                margin: 0;
                margin-bottom: 15px;
                img {max-height: 170px;}
            }

            /*==== Color Pickre ====*/
            .color-picker {
                direction: ltr;
                @extend %flexbox;
                @extend .align-between;
                @extend .align-center-y;
                border:1px solid rgba(#000,0.1);
                border-radius: 5px;
                max-width:116px;

                input {
                    width:80px;
                    margin-bottom: 0;
                    border:0 none;
                    border-radius: 5px 0 0 5px;
                    padding:0 10px
                }

                .color-prev {
                    width:20px;
                    height:20px;
                    border-radius: 5px;
                    margin-right: 10px;
                }
                
                .picker_done,.picker_cancel,.picker_arrow,.picker_sample {display: none;}

                .layout_default .picker_slider, .layout_default .picker_selector{padding: 5px;}

                .picker_editor {
                    width:100%!important;
                    display: block;
                    input{width:100%;border-radius: 5px;}
                }
                
                .popup.popup_right {
                    top:100%;
                    left: 0;
                    margin: 0;
                    width:230px;
                    box-shadow: unset;
                }
            }

            /*==== Wraped Controler ====*/
            .control-wraper {
                input,select,.form-control,textarea,.media-uploader-control{width:100%;}
                max-width:640px;
                margin-left: auto;
            }

            input,select,.form-control,.ss-main .ss-single-selected {
                height: 34px;
                line-height: 1;
                padding: 0 15px;
                border:1px solid rgba(#000,0.15);
                font-size:13px;
            }

            /*==== Textarea ====*/
            textarea,.textarea-control,.CodeMirror {
                height: 90px;
                border:1px solid rgba(#000,0.1);
                margin-bottom: 10px;
                &:not(.CodeMirror) { padding: 10px; }
                &.h100 {
                    height: 100px;
                    + .CodeMirror {height: 100px;}
                }

                &.h120 {
                    height: 120px;
                    + .CodeMirror {height: 120px;}
                }

                &.h150 {
                    height: 150px;
                    + .CodeMirror {height: 150px;}
                }

                &.h170 {
                    height: 170px;
                    + .CodeMirror {height: 170px;}
                }

                &.h190 {
                    height: 190px;
                    + .CodeMirror {height: 190px;}
                }
            }

            /*==== Image Uploader ====*/
            .media-uploader-control {
                @extend %flexbox;
                input:not(.button) {
                    width:calc(100% - 90px);
                    border-radius: 5px 0 0 5px;
                    &:not([type="hidden"]) + .button {border-radius: 0 5px 5px 0;}
                }
                .button {
                    width:90px;
                    margin-left: auto;
                    margin-bottom: 0;
                }
                .button-prev {
                    width:50%;
                    border-radius: 5px 0 0 5px;
                    +.button{width:50%;border-radius: 0 5px 5px 0;}
                }
                .image-prev {
                    width:100%;
                    border:1px solid rgba(#000,0.1);
                    border-bottom: 0 none;
                    border-radius: 5px 5px 0 0;
                    -o-object-fit: contain;
                       object-fit: contain;
                    + .button {width:100%;border-radius: 0 0 5px 5px;}
                }
                &.iconic {
                    .image-prev {
                        width:calc(100% - 42px);
                        max-height: 42px;
                        border-radius: 5px 0 0 5px;
                        border: 0 none;
                    }
                    .button {
                        width:42px;
                        height: 42px;
                        text-align: center;
                        font-size:22px;
                        padding: 0;
                        line-height: 40px;
                        border-radius: 0 5px 5px 0;
                        &::before {
                            position: relative;
                            top:-3px;
                        }
                    }
                }
            }

            &.rtl {
                .media-uploader-control {
                    input:not(.button) {
                        border-radius: 0 5px 5px 0;
                        &:not([type="hidden"]) + .button {
                            border-radius: 5px 0 0 5px;
                            margin-right: auto;
                            margin-left: 0;
                        }
                    }
                    .button-prev {
                        border-radius: 0 5px 5px 0;
                        + .button {border-radius: 5px 0 0 5px;}
                    }
                    &.iconic {
                        .image-prev {border-radius: 0 5px 5px 0;}
                        .button {border-radius: 5px 0 0 5px;}
                    }
                }
    
                .control-wraper {
                    max-width:640px;
                    margin-left: 0;
                    margin-right: auto;
                }

                label .help-btn {
                    margin-right: 5px;
                    margin-left: 0;
                    &::after{
                        left: auto;
                        right: 0;
                    }
                }

                .color-picker .color-prev {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }

            .button {
                height: 34px;
                line-height: 1;
                text-transform: uppercase;
                &:not(input):not(button) { line-height: 30px; }
                text-align: center;
                &.button-danger {
                    background-color: #de3131;
                    color:#FFF;
                }
                &.button-warning {
                    background-color: #f4bb0e;
                    color:#000;
                }
            }

            .ltr{direction: ltr;}

            /*==== Screens Checkbox ====*/
            &.screen-checkbox {
                position: relative;
                text-align: center;
                img {border-radius: 5px;margin-bottom: -5px;}
                /*==== Form Control ====*/
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width:100%;
                    height: 100%;
                    cursor: pointer;
                    opacity: 0;
                    z-index: 2;
                }
                /*==== Title ====*/
                span {
                    font-size: 14px;
                    line-height: 42px;
                    display: block;
                }
                /*==== Checkmark ====*/
                .content-wraper {
                    position: relative;
                    /*==== Check Icon ====*/
                    &::before {
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        width:42px;
                        height: 42px;
                        border-radius: 50%;
                        background-color: rgba(#000, 0.1);
                        color:#CCC;
                        border: 3px solid rgba(#000, 0);
                        font-size:20px;
                        line-height: 39px;
                        margin-top: -17px;
                    }
                }
                /*==== Activated ====*/
                input:checked + .content-wraper {
                    color:#41cc62;
                    img {border:3px solid #41cc62;}
                    &::before {
                        background:#41cc62;
                        color:#FFF;
                        border-color:#FFF;
                    }
                }
            }

            /*==== Divider ====*/
            &.box-5x1 {
                &:not(.rtl):not(:nth-child(5n)) {border-right: 1px solid rgba(#000,0.1);}
                &.rtl:not(:nth-child(5n)) {border-left: 1px solid rgba(#000,0.1);}
            }

            &.box-4x1 {
                &:not(.rtl):not(:nth-child(4n)) {border-right: 1px solid rgba(#000,0.1);}
                &.rtl:not(:nth-child(4n)) {border-left: 1px solid rgba(#000,0.1);}
            }

            &.box-3x1 {
                &:not(.rtl):not(:nth-child(3n)) {border-right: 1px solid rgba(#000,0.1);}
                &.rtl:not(:nth-child(3n)) {border-left: 1px solid rgba(#000,0.1);}
            }

            &.col-l-6 {                
                &:not(.rtl):nth-child(odd) {border-right: 1px solid rgba(#000,0.1);}
                &.rtl:nth-child(odd) {border-left: 1px solid rgba(#000,0.1);}
            }
        }
    }
}

/*==== Font Fixer ====*/
.rtl .theme-options,.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
    font-family: 'Montserrat';
    * {font-family: 'Montserrat'!important;}
}

/*==== Direction Fix ====*/
.rtl .toggle-button {
    span {
        margin-right: auto;
        margin-left: 0;
        &::before {right: 0;left: auto;}
    }
    input:checked+span::before {
        right: 100%;
        left: auto;
        margin-left: auto;
        margin-right: -10px;
    }
}

/*==== Notfications ====*/
.floating-notfications {
    position: fixed;
    bottom: 30px;
    right: 30px;
    &.rtl {
        left: 30px;
        right: auto;
    }
    .alert-box {
        padding: 10px 15px;
        font-size:14px;
        color:#1c1c1c;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(#000,0.1);
        transition: all 0.3s;
        opacity: 0;
        border-radius: 5px;
        &.success {
            background-color: #41cc62;
            color:#FFF;
        }
        &.danger {
            background-color: #de3131;
            color:#FFF;
        }
        &.active {opacity: 1;}
    }
}
